/* @theme saitogo */

@font-face {
	font-family: "NotoSansJP";
	src: url("./fonts/NotoSansJP-VariableFont_wght.ttf") format("truetype");
}

* {
	margin: 0;
	padding: 0;
	color: #222222;
	font-family: "NotoSansJP", sans-serif;
	box-sizing: border-box;
}

:root {
  font-size: 16px;
	width: 1280px;
	height: 720px;
}

section {
	padding: 1rem;
  border: 0.75rem solid;
  border-image: linear-gradient(
    135deg,
    oklch(70.7% 0.165 254.624),
    oklch(62.7% 0.265 303.9),
    oklch(65.6% 0.241 354.308)
  ) 1;
	background-color: #ffffff;
}

section::before {
	content: "";
	display: block;
	width: 3rem;
	height: 3rem;
	position: absolute;
	bottom: 1rem;
	right: 1rem;
	background-image: url(data:image/webp;base64,UklGRqIHAABXRUJQVlA4WAoAAAAQAAAAxwAAxwAAQUxQSIYAAAABcBvbVhs9+QL3z/yqoAyoSY4tAnL5lBf+iJgAPCeNSzmqvCxRJ3xLOqo+yVvnj+r33cMfBDoAclAomP4cpFEPEjWyEBYW5sJCPsz/5n/zv/nf/G/+N/+b/82UhYW8sDBHFoKyoFPiII0QDn4APAMOADpXf657AJLqLgm+Rw1zrrM8Bx3xBFZQOCD2BgAAkCgAnQEqyADIAD6dTqBLMjEjJKnV2BCwE4lN3C3ODgRnsbPa/D5q/uuajvL/m/Wj5gHOp80HnG/6r1t/6r0quqA9FzphMge/DiNbJgjzIj/D2Lfe6+PG1GIELahDGvcxH3qGNkspYRudKr0Sb40I3OfiKzjmdbuT+Ttv34nEcBl32qLg59ZxzMqNzn4XWIJhW5Kj//+bYVNK+TK1uwnODqAV/+KjTTm6vA2coAx7qYB71m1C84QcgGodEKoZPjjlGfKJ3Nd2ciqfWUASphBXDEi2oWVb+BKKr3jUREyaHRqqdV0sXn1s0o65U9Iv9a8ZytfuQmFVUtYITV3iiq5yedsATrZYGEQtraB75d37E9LBusp3gWeeXZ2warMl1Zdu7blhmtF62y5KHth2+hap8hLqmmDXlqpgV7FRzUjYc7/lpRNlz/TDFGK2d4yAAP74Ut/tXbutqU4gtMH/v0sI6tKdtQitYFCUim1DxFObopRIaUeiAS8eUhuiWDdo6AYJZsP4esL5mYkw+6FffAGW0zvkAm00QBH/18esuvMvtOYgV3t9PUuVp9Z/0/XiCDiwEg5Sl7CKU/8BKPwCRs44UPfIO4z9ShbVyUcuNLWSm0iUkQp6bZi9DGkgxPdx6ZkVW7RhG5r8Ivmcl5uulOaKV0Pla0BHNjOS3Gl4eFHNPwEuQlekCBAjQS0+9iF4ZrR7TgK1H7eD4PqKk3aTwkT3u1dFrwr81fuM1d3/0y/LVECrzbWtFATtl8e/fj/HkczqLf92gDENsEUpnG1IiLMfWt/Yu54g2tid1tixE1kncMiKNeDsYf+NxJd4EFuOqplI0AaYvbl9Qx7GYqQild7aqSrRzuqpBXXvRbhLhVrcjlhyCDTwCHyjXEZ1I499vDdM2bOodWljZwGmRcR7hmfuxaU/a07xPmQLI74nJ/Yj4+0/mNZ3JFM0AIHguP0w9TqvJEByZYvnotTj7WQb6OV5N02NAG4g/cnCXFC7vv1RrfHyh7Z4tbymKqNSsr5+hDDuuvudrBLk55vsGqqDvlgiBKmJpm2UE9ttbmJoel2Gt6+bVZdc2/kp84f5nwuBRbQsWpGpqfGVOzaiK9t3yr1oVG1T+Tq0LCIf1WHzDDsSuP1nw/NKOq2gNB1xxHzzQ8xxlr9zP3B7bSyW1eLBUf98biKb+8LG5VdyLVUEhcNG9X0Cdxz5/FEaO0dGjtpcfwfz7+umVd+HRA5FDmJhq1SAsBDRJ1DA4GlZ5Jmtmk0AzUk3XSkJAitEEofP+B0CodGmPiA+kU5vUGTFMwe1koCVWirOgmwcwsZ7JLpcZ0frCLcM8tqgFKOFSCmn9ZeomQUfI6EmeiEipGvK9lqo2reKxO12xkBRTPDLJysgWIa9ga97SAnJHwabWpby3IIboQImrxouyB8f8Egfq8F6FC+qlAkH5Vg6kSTqsO9eDiU8A/C91VOSx+ru8dRIgQ09Ky14l74H0e/hxsvuLnV4uCcnaCxbV9TSnqzuIlXJT/8QSrGzbZjGlbOtW2xuAml8QACtiE8w8vibsnJNkFN0U4IQylmFbDPrpO17g6p0C5nNlxr64xwrLyt3H8kzzzCB/pwST2+QZt8FqnN97jIzUTtxHyaJ2GLh9t56i9LYwVyv9q9xruLy4RvKleE0rS5iFmMqj9ep5IDp87MestpF5Y8DNp91LPjnbTfTxPcKyfzBrpHwCMfrA6HYVdF3Am7SKCcYFqOrsp971ZkJBTkWWap9QDmb9h72P2wA1eanBqU2kjV5+GndMTI6KnJlDmK+rqeI07nrY7v5asLma5B+z1ohmcNRsf3C4A7lSssRCcWDsSqYapmAI6peocATdySCwgyTOHf4+7YpPYOG8i7OPpAp2G8p1aC5FGSYdSp72vSyFRCw2wQkWxm57JAYyycRSfv0HPqRa1OtNYvRj/CjCPeQLwD1KdaDyL7/a8qWON7DjKz7ZcvkAHNHa+kOi0AveAftmh/H2zn4ZAlLr2W08DCktGPboLcsnaBpJB6CapSugsuuNjCdTnrzo6CiXlMEdrcR3ZHlhJrQ8eiT2NUMOOn71UF2aWLCRH4KikUZJjfXD/8BsDiCeRYJ/dSgYe67y63Kg/9kU3pzvmVqVlseEHuWFp+hobAmdN3P7ACYXEquFqNYBbTsW1g3VlfoP04pbJujX7mPEzrmxQl12HU7lkUEUsvxNZ0lUzov7M1Mn8wWauEK9bwJszUTNYYQwFid7docJ1C9q0x1uyJpyHXD8qI8igKKtr1OzqkgyvwvGBqL4bgHrAkZgIRo0a93utx3PUtrNqqup4yoMjxp9kB9cIlWuHmNKHBj786muvMPIg90iQKUNXY1SxTnEpx4bJ46eC5XWJS60EAA);
	background-size: cover;
	background-position: center;
	opacity: 0.5;
}

section[data-marpit-advanced-background="content"][data-marpit-advanced-background-split="right"] {
  border-right: none;
}

section[data-marpit-advanced-background="content"][data-marpit-advanced-background-split="left"] {
	border-left: none;
}

h1 {
	font-size: 4rem;
	font-weight: bold;
}

section:has(h1) {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

h2 {
	font-size: 2.75rem;
	font-weight: bold;
	margin-bottom: 1rem;
	border-bottom: solid 1px #22222280;
}

h3 {
	font-size: 2rem;
	font-weight: bold;
	margin-bottom: 0.5rem;
	margin-top: 1.5rem;
}

p {
	font-size: 2rem;
	line-height: 1.5;
	margin-bottom: 1rem;
}

ul, ol {
	font-size: 2rem;
	line-height: 1.5;
	margin-bottom: 1rem;
	padding-left: 2rem;
}

img {
	display: block;
	margin: 0 auto;
}